<div class="header">
        <div class="gridMenu">
            <i class="fa fa-th" aria-hidden="true"></i>
        </div>
        <div class="toDoTextInHeader">
            <span class="todoText">To Do</span>              
        </div>
        <div class="searchBox">
            <input type="text" placeholder="Search" class="searchText">
        </div>
        <div class="userIcon">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="questionIcon">
            <i class="fa fa-question-circle"></i>
        </div>
        <div class="settingIcon">
            <i class="fa fa-cog"></i>
        </div>
    </div>
