<div class="taskDiv">
        <div class="taskHeader">
            <div class="taskTitle">
                <div class="title">
                    <input value="Task" class="titleName"/>
                </div>
                <div class="share">
                    <i class="fas fa-user-plus"></i>
                    <span class="shareText">Share</span>
                </div>
                <div class="sort">
                    <i class="fas fa-sort"></i>
                    <span class="sortText">Sort</span>
                </div>
                <button class="deleteList">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="taskBar">
            <div class="task">
            </div>
            <div class="addTask">
                <button class="plusTaskIcon">
                    <label class="newTaskTextLabelClass" for="newTaskTextLabel"><i id="plus" class="fas fa-plus"></i></label>
                </button>
                <input id="newTaskTextLabel" class="newTaskText" type="text" placeholder="Add task"/>
            </div>
        </div>  
    </div>