<div class="taskDiv">
        <div class="taskHeader">
            <div class="taskTitle">
                <div class="title">
                    <input *ngIf="currentList == null" value="Task" class="titleName"/>
                    <input *ngIf="currentList != null" value={{currentList.name}} class="titleName"/>
                </div>
                <div class="share">
                    <i class="fas fa-user-plus"></i>
                    <span class="shareText">Share</span>
                </div>
                <div class="sort">
                    <i class="fas fa-sort"></i>
                    <span class="sortText">Sort</span>
                </div>
                <button class="deleteList">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="taskBar">
            <div class="task" *ngFor="let task of currentList.tasks">
              <div class="addedTask" id={{task.id}} (click)="showStepsBar(task)">
                <div class="round">
                  <input type="checkbox" id="checkbox{{task.id}}" (click)="updateTaskAsFinished(task)" [checked] = "task.isFinished ? 'checked' : null"/>
                  <label for="checkbox{{task.id}}" ></label>
                </div>
                <span *ngIf="task.isFinished" class="taskName strike">{{task.name}}</span>
                <span *ngIf="!task.isFinished" class="taskName">{{task.name}}</span>
              </div>
            </div>
            <div class="addTask">
                <button class="plusTaskIcon">
                    <label class="newTaskTextLabelClass" for="newTaskTextLabel"><i id="plus" class="fas fa-plus"></i></label>
                </button>
                <input id="newTaskTextLabel" class="newTaskText" type="text" placeholder="Add task" #taskName (keyup.enter)="saveTask(taskName.value, $event)"/>
            </div>
        </div>  
    </div>
    