<div class="sidePanel">
    <div class="sideBarHeader">
        <button (click)="toggleSideMenu($event)" class="sideBarButton" value="open">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="myDayIcon">
        <div>
            <i class="fas fa-sun" aria-hidden="true"></i>
        </div>
        <div class="sidePanalText">
            <span>My Day</span>
        </div>
    </div>
    <div class="importantIcon">
        <div>
            <i class="fas fa-star"></i>
        </div>
        <div class="sidePanalText">
            <span>Important</span>
        </div>
    </div>
    <div class="plannedIcon">
        <div>
            <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="sidePanalText">
            <span>Planned</span>
        </div>
    </div>
    <div class="assignIcon">
        <div>
            <i class="far fa-user"></i>
        </div>
        <div class="sidePanalText">
            <span>Assigned to Me</span>
        </div>
    </div>
    <div class="taskIcon">
        <div>
            <i class="fas fa-home"></i>
        </div>
        <div class="sidePanalText">
            <span>Tasks</span>
        </div>
    </div>
    <div class="newCreateList" *ngFor="let list of todoLists">
        <div id={{list.id}} class="listCreated">
            <i class="fa fa-list"></i>
            <div class="listName">
                <span>{{list.name}}</span>
            </div>
        </div>
    </div>
    <div class="listGroupBar">
        <div class="newListIcon">
            <button class="plusIcon">
            <label for="newListTextLabel"><i class="fas fa-plus"></i></label>
            </button>
            <div class="newListInput">
                    <input id="newListTextLabel" class="newListText" type="text" placeholder="New list" #listName (keyup.enter)="saveList(listName.value, $event)"/>
            </div>
        </div>
    </div>
</div>
