<div class="stepsBar">
        <div class="sectionHeader">
            <div class="roundIconInStepHeader">
                <input type="checkbox" id="checkboxInStepHeader" (click)="updateTaskAsFinished(task)" [checked] = "currentTask.isFinished ? 'checked' : null"/>
                <label for="checkboxInStepHeader"></label>
                <input *ngIf="!currentTask.isFinished" value={{currentTask.name}} class="taskInStepHeader" #editTaskName (keyup.enter)="editTask(editTaskName.value, $event)"/>
                <input *ngIf="currentTask.isFinished" value={{currentTask.name}} class="taskInStepHeader taskInStepHeaderStriked" #editTaskName (keyup.enter)="editTask(editTaskName.value, $event)"/>
            </div>
        </div>
        <div class="steps">
            <div class="newSteps" *ngFor="let step of currentTask.steps">
                <div class="addedStep">
                    <div class="roundStepBarIcon">
                        <input type="checkbox" id="checkboxStep{{step.id}}" (click)="updateStepAsFinished(step)" [checked] = "step.isFinished ? 'checked' : null"/>
                        <label for="checkboxStep{{step.id}}"></label>
                    </div>
                    <!--<span *ngIf="step.isFinished" contenteditable="true" class="stepTextBar stepTextBarStrike">{{step.name}}</span>
                    <span *ngIf="!step.isFinished" contenteditable="true" class="stepTextBar">{{step.name}}</span>-->
                    <input *ngIf="!step.isFinished" value={{step.name}} class="stepTextBar" #editStepName (keyup.enter)="editStep(editStepName.value, $event)"/>
                    <input *ngIf="step.isFinished" value={{step.name}} class="stepTextBar stepTextBarStrike" #editStepName (keyup.enter)="editStep(step, editStepName.value, $event)"/>
                    <i class="fa fa-times" id="close{{step.id}}" (click)="deleteStep(step)"></i>
                </div>
            </div>
            <div class="addSteps">
                <button class="plusStepIcon">
                <label class="newStepTextLabelClass" for="newStepTextLabel"><i id="plusStep" class="fas fa-plus"></i></label>
                </button>
                <input id="newStepTextLabelClass" class="newStepText" type="text" placeholder="Add step" #stepName (keyup.enter)="saveStep(stepName.value, $event)"/>
            </div>
        </div>
        <div class="sectionInStep">
        </div>
        <div class="sectionInStep">
        </div>
        <div class="sectionFeature">
        </div>
        <div class="sectionFeature">
        </div>
        <div class="sectionInStep">
        </div>
        <div class="addNote">
            <input class="addNoteText" type="text" placeholder="Add note"/>
        </div>
        <div class="stepsBarFooter">
            <button class="backIcon" value="close">
                <i class="fa fa-arrow-right"></i>
            </button>
            <div class="createdDay">
                <span>Created Today</span>
            </div>
            <button class="trashIcon" (click)="deleteTask()">
                    <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
